In [1]:
import pandas as pd 
import pickle

In [4]:
test = pd.read_csv('test.csv')

In [8]:
test.drop(['instock_date', 'Customer_name'], axis =1, inplace=True)

In [11]:
test['Stall_no'].fillna(51, inplace=True)
test['Stall_no'] = test['Stall_no'].astype(int)

In [15]:
test['charges_1'].interpolate(method='linear', inplace=True)
test['charges_1'] = test['charges_1'].astype(int)

In [16]:
test['charges_2 (%)'].interpolate(method='slinear', inplace=True)
test['charges_2 (%)'] = test['charges_2 (%)'].astype(int)

In [20]:
test['Minimum_price'].interpolate(method='linear', inplace=True)

In [36]:
names = ['Stall_no', 'Market_Category', 'Loyalty_customer', 'Product_Category', 'Grade', 'Discount_avail']
test[names] = test[names].astype('category')

In [35]:
test['Loyalty_customer'] = test['Loyalty_customer'].map({'Yes':1, 'No ':0})

In [42]:
cat_name = test['Product_Category'].unique()
cat_index = [i for i in range(len(cat_name))]
cat_dc = dict(zip(cat_name,cat_index))
# print(cat_dc)
test['Product_Category'] = test['Product_Category'].map(cat_dc)

In [43]:
Pkl_Filename = "carnival_model.pkl"  

with open(Pkl_Filename, 'rb') as file:  
    Pickled_LR_Model = pickle.load(file)

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_id        3430 non-null   object
 1   Stall_no          3430 non-null   category
 2   Market_Category   3430 non-null   category
 3   Loyalty_customer  3430 non-null   category
 4   Product_Category  3430 non-null   category
 5   Grade             3430 non-null   category
 6   Demand            3430 non-null   int64
 7   Discount_avail    3430 non-null   category
 8   charges_1         3430 non-null   int32
 9   charges_2 (%)     3430 non-null   int32
 10  Minimum_price     3430 non-null   float64
 11  Maximum_price     3430 non-null   int64
dtypes: category(6), float64(1), int32(2), int64(2), object(1)
memory usage: 173.0+ KB

In [45]:
x = test.iloc[:, 1:]

In [46]:
x.head()

,Stall_no,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,39,205,0,0,0,90,0,380,16,2576.0,3340
1,49,3,1,0,0,87,0,393,16,1202.0,1955
2,1,183,0,1,2,55,0,493,9,7175.0,15715
3,8,358,1,2,3,86,0,303,16,5404.0,13078
4,33,167,0,1,0,27,0,567,16,4069.0,6244

In [47]:
pred = Pickled_LR_Model.predict(x)

In [48]:
pred

array([ 3376.73441364,  1941.19474132, 10297.79871368, ...,
        4251.31379764,  3158.8502466 ,  2512.96107605])

In [53]:
df = pd.DataFrame(test['Product_id'])

In [55]:
df['Selling_Price'] = pred

In [56]:
df.head()

         Product_id  Selling_Price
0  SCHE4YSTDVPVZVXW    3376.734414
1  ACCEGCATKHNRXUHW    1941.194741
2  NKCE6GJ5XVJDXNNZ   10297.798714
3  NKCEB8BK3ZXDHDHM    9133.363827
4  TOPEFDXSAHRNPF94    5463.176021

In [57]:
df.to_csv('sub1.csv',index=False)